form input[type="text"]:not(.excepted) {
    color: blue;
}

form label {
    background-color: orange;
}

form input[type="button"] {
    background-color: black;
    color: white;
    border-radius: 25px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 250px;
    margin: 0 auto;
}