a {
    transition: all .3s ease-in-out;
    color: black;
}

a:not([href]):hover {
    color: orange;
}

a:not([href]):active {
    color: red;
}

a[href^="http"]:hover {
    color: blue;
}

a[href^="http"]:active {
    color: orange;
}



a[href^="https"]:visited {
    color: green;
}

a[href^="https"]:active {
    color: red;
}