body {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    display: flex;
}

.sidebar {
    width: 40%;
}

.view {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.sidebar {
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.view {
    background-color: orange;
}

.sidebar-item {
    /* padding: 100px; */
    width: 100%;
    text-align: center;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
    z-index: 99;
}

.sidebar-item:hover {
    cursor: pointer;
    background-color: rgba(255, 0, 0, 0.6);
    border: 5px dashed red;
}