body {
    margin: 0;
    padding: 0;
}

.main {
    height: 100vh;
    width: 100vw;
}

.sidebar {
    height: 100vh;
    width: 30vw;
    background-color: gold;
    float: left;
}

.view {
    height: 100vh;
    width: 70vw;
    background-color: lightblue;
    float: right;
    text-align: center;
    line-height: 100vh;
}

.sidebar-item {
    height: 33vh;
    text-align: center;
    line-height: 33vh;
    box-sizing: border-box;
}

.sidebar-item:hover {
    border: 3px dashed red;
    background-color: rgba(255, 0, 0, 0.6);
}