body {
    margin: 0px;
}

.container {
    height: 100vh;
    line-height: 100vh;
    text-align: center;
}

.component {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    text-align: center;
    line-height: 200px;
    display: inline-block;
}