body {
    margin: 0px;
}

.app {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 80vh 20vh;
    grid-template-columns: 80vw 10vw 10vw;
    grid-template-areas: 
        "messages users users"
        "text text send"
}

.user-list {
    background-color: gold;
    grid-area: users;
}

.messages {
    background-color: lightblue;
    grid-area: messages;
}

.text {
    background-color: tomato;
    grid-area: text;
}

.send {
    grid-area: send;
}

.send button {
    background-color: green;
    width: 100%;
    height: 100%;
}