body {
    margin: 0;
}

.menu-bar {
    background-color: tomato;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}

.menu-item {
    display: inline-block;
    border: 3px dashed orange;
    padding: 15px 40px;
    box-sizing: border-box;
}

.content {
    padding-top: 50px;
}